h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
  }
  /* .product .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(100deg, #fff, #fff 57%, #fff0 70%);
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.32, 1);
    will-change: transform;
} */
/* .video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    
} */

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /* background-image: url(./img/back.png); */
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
}
.main_container{
  position: relative;
  z-index: 1;
  
}
.video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.507); /* Напівпрозорий чорний шар */
  z-index: 0;
}

  @media screen and (min-width: 390px){
    .container{
      width: 360px;
      margin: 0 auto;
    }

    /* =================================HEADER===================================================== */
    .language_selector {
      position: relative;
      display: inline-block;
      text-align: center;
    }
    
    .language_btn {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white; 
    }
    
    .language_dropdown {
      display: none;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      background-color: rgba(5, 5, 5, 0.384);
      color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 10px 0;
      padding: 4px;
      list-style: none;
      border-radius: 8px;
      overflow: hidden;
      z-index: 1000;
    }
    
    .language_dropdown-item {
      padding: 10px 20px;
      cursor: pointer;
      text-align: center;
         &:hover{
      background-color: #007bff;
      color: white;
    }
    }
    
   
    
    .language_selector:hover .language_dropdown {
      display: block;
    }
    
    .flag-icon {
      width: 16px;
      height: 16px;
    }
    
    
    .header{
      padding: 12px;
    }
    .header_list{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 12px;
    }

    .header_item-btn{
      width: 32px;
      height: 32px;
      padding: 8px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
    .header_item-btn-ikon{
      width: 16px;
      height: 16px;
    }
  /* =============================HERO====================================================== */
  .hero{
    padding-top: 100px;
    padding-bottom: 16px;
  }
  .hero_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  }
  .hero_img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-bottom: 18px;
  }
  .hero_title{
    color: #ffffff;
    font-size: 42px;
    margin-bottom: 4px;
  }
  .hero_desk{
    color: #ffffff;
    font-size: 28px;
  }
  /* ===================search-input========================================================= */
  #search-input{
    width: 260px;
    height: 38px;
    border-radius: 8px;
    margin-right: 5px;
  }
  .hero_search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .hero_list{
    display: flex;
    align-items: center;
  }
  .hero_item:not(:last-child){
margin-right: 6px;
  }
  .hero_item-btn{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: none;
    padding: 4px;
  }
  /* .hero_item-link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: none;
    padding: 4px;
    background-color:#464646 ;
  } */
  .hero_item-btn-ikon{
    width: 22px;
    height: 22px;
  }
  /* =================================MENU=================================================== */
  .menu{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .menu_list{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
border-radius: 8px;

background-color: #F3F1F2;
margin-bottom: 16px;
  }
  .menu_item{
    text-align: center;
    width: 100%;
    padding-top: 8px;
padding-bottom: 8px;
cursor: pointer;
  }
  .menu_item-btn{
    padding: none;
    border: none;
    background-color: transparent;
  }
  .menu_item-active{
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  /* ---------pizza----------------------------- */
  .pizza_list{
display: flex;
flex-direction: column;
gap: 10px;
  }
.pizza_item-main{
  padding-left: 8px;
  height: 103px;
  border-radius: 8px;
  border: 1px solid #E5E5EA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .pizza_item-left{
    display: flex;
    flex-direction: column;
  align-items: flex-start;
   
  }
  .pizza_item-title{
    margin-bottom: 4px;
  }
  .pizza_item-desk{
    color: #A6A4B4;
    margin-bottom: 16px;
  }
  .pizza_item-price-num{
    font-weight: bold;
    
  }
  .pizza_item-img{
    width: 168px;
    height: 103px;

  }
  /* =======================================popup============================================ */
  .pizza_item-main.hide{
    display: none;
  }

  .item_details {
    display: none;
  }
  /* .item_details.is-visible{
    display: block;
    /* visibility: hidden; */
  } */
  .item_details.is-visible {
    display: none;
  }
  .item_details:not(.is-visible) {
    display: block;
  }
  
  .item_details{
    display: none;
    box-shadow: 0 0px 40px #bfbdcb;
    
    border-radius: 8px;
    
    /* background-color: #221818; */
    overflow: hidden;
  }
  .item_details-desk{
    padding: 12px;
  }
  .item_details-img-block{
    width: 100%;
    height: 174px;
    background-color: #A6A4B4;
    overflow: hidden;
  }
  .item_details-desk-title{
    font-size: 17px;
    font-weight: bold;
margin-bottom: 8px;
  }
  .item_details-desk-desk{
    font-size: 14px;
    margin-bottom: 12px;
    color: #221818;
    font-weight: 300;
  }
  .item_details-size-block{
    display: flex;
    flex-direction: column;
  }
  .item_details-desk-size{
    font-size: 13px;
    margin-bottom: 16px;
    color: #A6A4B4;
  }
  .item_details-size-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    margin-bottom: 8px;
  }

  .active-size{
    background-color: aqua;
  }
  .item_details-size-btn{
    padding: 4px;
    border: none;
    border-radius: 50px;
    /* background-color: inherit; */
  }
  .item_details-desk-price-num{
    font-size: 17px;
    font-weight: bold;
  }
  /* ================modal-window============================== */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    background-color: #A6A4B4;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
  }
  .modal-window_close{
    /* display: flex;  */
    text-align: end;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  /* ===============================================map====================================== */
  .map{
    width: 100%;
    height: 300px;
  }
  

  @media screen and (min-width: 768px){
    .container{
     width: 768px;
    }
  }

  @media screen and (min-width: 1200px){
    .container{
    width: 1200px;
    }
  }
